{% extends "layout.html" %}

{% block page_title %}
  Form - {{ form_schema.name }}
{% endblock %}


{% block js %}
  <script src="{{ url_for('static', path='vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
  <script src="{{ url_for('static', path='vendor/select2/select2.bundle.js') }}"></script>
  <script src="{{ url_for('static', path='js/beanhub-web-react-0.1.3.js') }}"></script>

  <script>
    'use strict';
    function getTodayDate() {
      const now = new Date();
      const year = now.getFullYear();
      const month = (now.getMonth() + 1).toString().padStart(2, '0');
      const day = now.getDate().toString().padStart(2, '0');
      return `${year}-${month}-${day}`;
    }
    const controls = {
        leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
        rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
    }
    const defaultDate = getTodayDate();
    const files = []
    const accounts = []
    const currencies = []
    const fields = {{ fields | tojson }}
    const errors = []

    $(function () {
        renderCustomForm(document.getElementById("custom-form"), {
            fields,
            files,
            accounts,
            currencies,
            defaultDate,
            errors: (errors !== null) ? errors : undefined,
            hiddenFields: {
                csrf_token: {{ csrf_token() | tojson }}
            }
        })
    });
  </script>
{% endblock js %}

{% block content %}
  <div id="custom-form"></div>
{% endblock content %}
